# Salesforce cache / metadata
.sfdx/
.sf/
.localdevserver/

# LWC / Aura compiled output
**/lwc/**/__tests__/**
**/jsconfig.json

# Logs
*.log
debug.log*

# Dependency directories
node_modules/
package-lock.json

# OS/Editor files
.DS_Store
.vscode/
*.swp

# Env files
.env